
h4 {
  color: #F39C12;
}


li {
  color: #21618C;
}


p {
  color: #AF7AC5;
}


footer { font-size: 13px; font-weight: normal; padding: 8px; background: #b9c9fe;
border-top: 4px solid #aabcfe; border-bottom: 1px solid #fff; color: #039; }


h3 {
  color: #039;
}
h5 {
  color: #85C1E9;
}


h1 {
  color: blue;
font-family: «Lucida Sans Unicode», «Lucida Grande», Sans-Serif;
font-size: 50px; margin: 45px; width: 480px; text-align: left; border-collapse: collapse; }
}

