@charset "utf-8";
/* CSS Document */





body {
	color: #000;
	background: #332F29;
	font-size:100%;
}



#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}




nav {
	background: #CC3910;
	float: left;
	width: 160px;
}




ul {
	list-style-type:none;
}




a {
	color:#F1F2C0;
	text-decoration: none;
}




section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}




aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}


@media all and (max-width: 800px) { 
  
  

body {
	color: E624F8;
	background: #332F29;
	font-size:100%;
	
	
}



#contenedor {
		
	display: flex;
	flex-direction: column;
	background: #8FA68E;
	margin-right:auto;
	margin-left:0;
	overflow: hidden;
}



nav {
	
	
	background: #EDF70D;
 	width: 160px;
	float: left;
	width:94%;
	border:1px solid #000000;

}




ul {
	list-style-type:none;

}




a {

	color:#000000;
 height:600px;
	
	
}



section {
	background: #F1F2C0;
	float: left;
	width: 400px;
	margin:0 auto;
	width:94%;
	border:1px solid #000000;
	margin: 0 0 0 0px;
	
}


aside {
	background: #CCC59E;
/*	float: right;*/
float: left;
		width: 400px;
width:94%;
  border:1px solid #000000;
  
  
  }


}

